.reveal h2, h3, h4 {
    text-transform:none;
}

.reveal .right-blue {
    color:#1B83E5;
    font-weight:bold;
}

.reveal a {
    color: #2180c4;
}

/*
.reveal img, .reveal video, .reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.img {
    max-width: 15%;
    max-height: 15%;
}
*/

